[data-tab-content] {
    display: none;
  }
  
  .active[data-tab-content] {
    display: block;
  }
  
  body {
    padding: 0;
    width: 900px;
    height: 0 auto;
    margin: 0 auto;
    background-color: rgb(180, 235, 218);
  }
  
  .tabs {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 10;
    border-bottom: 8px solid navy;
    background-color: rgba(112, 128, 144, 0.507);
  }
  
  div {
    background-color: rgb(180, 235, 218);
  }
  .p1 {
    font-family: cursive
  }
  .tab {
    cursor: pointer;
    padding: 6px;
  }
  
  .tab.active {
    background-color: slategray;
  }
  
  .tab:hover {
    background-color: rgba(0, 0, 128, 0.5);
  }
  
  .tab-content {
    margin-left: 20px;
    margin-right: 20px;
  }

* {
    box-sizing: border-box;
}
.column {
    float: left;
    width: 33.33%;
    padding: 5px;
}
.row::after {
    content: "";
    display: table;
    clear: both;
}

  .img-model1 {
    width: 180px;
  }
  .img-model2 {
    width: 180px;
  }
  .img-model3 {
    width: 180px;
  }
  .img-ceddyhalloween {
      width: 180px;
  }
  .img-cedricallen {
    width: 180px;
  }
  .img-ceddyplay {
    width: 180px;
  }
