

[data-tab-content] {
    display: none;
  }
  
  .active[data-tab-content] {
    display: block;
  }

  body {
    padding: 0;
    width: 900px;
    height: 0 auto;
    margin: 0 auto;
    background-color:rgba(81, 160, 92, 0.644);
  }
  

  .tabs {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 10;
    border-bottom: 8px solid darkgreen;
    background-color: rgba(81, 160, 92, 0.644);
    color: whitesmoke;
    font-size: 16px;
    font-weight: bold;
    font-variant: small-caps;
  }
  
  footer {
    display: inline;
    justify-content: center;
    padding: 0px;
    font-size: 8px;
    font-stretch: ultra-condensed;
    color: rgba(81, 160, 92, 0.644);
}

  div {
    background-color: rgba(81, 160, 91, 0.445);
  }
  
  .p1 {
    font-family: 'Grandstander';
    font-size: 20px;
  }

  .p2{
    font-family: 'Jua';
    font-size: 50px;
  }
  h1 {
    color: rgb(37, 93, 197);
    text-shadow: 1px 1px 2px whitesmoke, 0 0 25px whitesmoke, 0 0 5px whitesmoke;
    font-weight: 900;
    font-variant: small-caps;
  }

  .tab {
    cursor: pointer;
    padding: 6px;
  }
  
  .tab.active {
    background-color: darkseagreen;
  }
  
  .tab:hover {
    background-color: darkseagreen;
  }
  
  .tab-content {
    margin-left: 20px;
    margin-right: 20px;
  }

* {
    box-sizing: border-box;
}
.column {
    float: left;
    width: 33.33%;
    padding: 5px;
}
.row::after {
    content: "";
    display: table;
    clear: both;
}

  .img-model1 {
    width: 280px;
  }
  .img-model2 {
    width: 280px;
  }
  .img-model3 {
    width: 280px;
  }
  .img-ceddyhalloween {
      width: 280px;
  }
  .img-cedricallen {
    width: 280px;
  }
  .img-ceddyplay {
    width: 280px;
  }
